<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.gfranks.workoutcompanion">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="${packageName}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${packageName}.permission.C2D_MESSAGE" />

    <application
        android:name=".application.WorkoutCompanionApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultAppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/DefaultAppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WorkoutCompanionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.UserProfileActivity"
            android:label="@string/user_profile"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.GymDetailsActivity"
            android:label="@string/gym_details" />

        <activity
            android:name=".activity.GymReviewsActivity"
            android:label="@string/gym_reviews" />

        <activity
            android:name=".activity.FullScreenGymPhotosActivity"
            android:label="@string/gym_photos" />

        <activity android:name=".activity.FragmentActivity" />

        <receiver android:name=".notification.WCNotificationPublisher" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="${packageName}" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_map_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0099f64453e63cea0242ae1effb44812c2684d95" />
    </application>

</manifest>
